<h1> Prescription ID: <%=@prescription.title %> for patient: <%= @prescription.patient.fullname %></h1><br>
<h2><%= @prescription.medication %><h2>
<h2><%= @prescription.quantity %><h2>
<h2><%= @prescription.description %><h2>

<% if doctor_signed_in? %>
<p><%= link_to @prescription.patient.fullname, patient_path(@prescription.patient) if @prescription.patient %>   <%= link_to "Edit Prescription", edit_patient_prescription_path(@prescription.patient) %></p>
<% end %>