<% if patient_signed_in? %>
    <h1>Hello <%= current_patient.first_name %></h1>
    <h2>Your doctor is Dr. <%= current_patient.doctor.fullname %></h2>
 <% elsif doctor_signed_in? %>
    <h1> <%= @patient.fullname %> </h1>
      <%= link_to "New Prescription", new_patient_prescription_path(@patient) %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Prescription Title</th>
      <th scope="col">Medication</th>
      <th scope="col">Quantity</th>
      <th scope="col">Directions</th>
    </tr>
  </thead>
  <tbody>
  <% @patient.prescriptions.each do |prescription| %>
    <tr>
      <th scope="row">1</th>
      <td><%= link_to prescription.title, prescription_path(prescription) %></td>
      <td><%= prescription.medication %></td>
      <%= form_for prescription do |f| %>
      <td><%= f.number_field :quantity %></td>
      <% if patient_signed_in? %>
      <td><%= f.submit "Update Quantity" %></td><br>
        <% end %>
      <% end %>
      <td><%= prescription.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>