<h1>Hello Dr. <%= current_doctor.last_name %></h1>
<br>
<br>

<h2>Patient Roster</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% current_doctor.patients.each do |patient|%>
    <tr>
      <th scope="row"><%= patient.id %></th>
      <td><%= link_to patient.fullname, patient_path(patient) %></td>
      <td><%= patient.email %></td>
    </tr>
    <% end %>
  </tbody>
</table></br>

<h2>Prescriptions</h2>
<%current_doctor.prescriptions.each do |prescription| %>
<%= link_to prescription.title, prescription_path(prescription) %></br>

<% end %>